#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sproutImage {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.flowerImage {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.farm div{
  border: 4px dashed rgb(48, 35, 35);
  background-color: rgb(100, 64, 64);
}
.farm{
  display: flex;
  flex-direction: row;
  height:10em;
}

