#root {
  max-width: 100%;
  margin: 10rem;
  padding: 2rem;
}
main{
  text-align: center;
}
.icon{
  height: 4em;
  border-radius: 50%;
}
.farm-img {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.farm div{
  border: 4px dashed rgb(48, 35, 35);
  background-color: rgb(100, 64, 64);
  height: 10rem;
  width: 10.64rem;
}
.farm{
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
}
.interface{
  display: flex;
  flex-direction: row;
}
.interface div{
  background-color: rgb(60, 83, 41);
  border-radius: 15%;
  width: 33%;
  height: 20rem;
  margin: 1rem;
}
.play{
 
}
.description{
  padding-bottom: 2rem;
}
.footer{
  background-color: #1f2d35;
  padding: 2rem;
  box-shadow: 5px 0px 15px 5px #0a1d27;
  border-radius: 4%;
}
.header{
  background-color: rgba(44, 99, 73, 0.541);
  
  box-shadow: 10px 6px 10px #151b1f;
  padding: 2rem;
}